<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is event detail page</h1>
    <ul>

        <h1>
            {{ events.title }}
        </h1>
        <ul>
            <li>Event: <h3>{{ events.artist_name }}</h3></li>
            <li>Date: <h3>{{ events.date }}</h3></li>
            <li>description: <h3>{{ events.desc }}</h3></li>
        </ul>
        
    </ul>

</body>
</html>